# --- BASIC CONFIG ---
FRONTEND_URL=https://chat.yourdomain.com
SECRET_KEY_BASE=generate_a_long_random_string_using_rake_secret
RAILS_ENV=production
NODE_ENV=production
INSTALLATION_ENV=docker
RAILS_LOG_TO_STDOUT=true
LOG_LEVEL=info
DEFAULT_LOCALE=en

# --- DATABASE CONFIG ---
POSTGRES_HOST=chatwoot-postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=chatwoot_production
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=your_secure_password

# --- REDIS CONFIG ---
REDIS_URL=redis://chatwoot-redis:6379

# --- STORAGE CONFIG ---
ACTIVE_STORAGE_SERVICE=amazon
S3_BUCKET_NAME=chatwoot-next-id-storage
S3_ACCESS_KEY_ID=PON_AQUI_TU_ACCESS_KEY
S3_SECRET_ACCESS_KEY=PON_AQUI_TU_SECRET_KEY
S3_REGION=us-east-2
S3_PROTOCOL=https

# --- OTHER CONFIG ---
ENABLE_ACCOUNT_SIGNUP=true
ENTERPRISE_EDITION=true
CW_LICENSE_KEY=enterprise_licence
DISABLE_ENTERPRISE_VALIDATION=true
CW_EDITION=enterprise
INSTALLATION_PRICING_PLAN=enterprise
CHATWOOT_ENABLED=true
